<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @alsobought.product_id %>
</p>

<%= link_to 'Edit', edit_alsobought_path(@alsobought) %> |
<%= link_to 'Back', alsoboughts_path %>
