<h2>Search Products</h2>

<%= form_tag products_path, :method => :get do |f| %>  
	
	<div class="form-group">
		<%= label_tag :search %>
		<%= text_field_tag :search, nil, :required => true, :class=> "form-control", :autofocus => "autofocus"  %>
	</div>

	<%= submit_tag "Search", :class => 'submit btn btn-primary' %>
<% end %>